
block head  
    head
        title= title
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css')
        link(rel='stylesheet', href='/css/bootstrap.min.css') 
        link(rel='stylesheet', href='./stylesheets/prism.css')

        script(src='/js/jquery.min.js')
        script(src='/js/bootstrap.min.js')
        script(src='./javascripts/prism.js')
        link(rel='stylesheet', href='/stylesheets/style.css')

