div.container
      div.row
        div.col-md-8.col-md-offset-2
          h5 #{time}
          h3 Layout an Express4 Backend Application
          p. 
            I was trying to decide on how to get this Blog up and running, and soon
            came to the realization that the best way to do this. Is to start from scratch.
            We will build a standard backend application with express, the same code used to
            create this blog app. 